<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home -- Best Bitcoin minning Sites</title>
    <link
      rel="shortcut icon"
      href="/images/favicon_1582498359.jpg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/public/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav>
      <img src="/images/logo_1588143489.png" alt="logo" class="logo-img" />
      <ul class="nav-list-item">
        <li><a href="#">blog</a></li>
        <li><a href="#">more</a></li>
        <li><a href="#">help</a></li>
        <li><a href="#">about us</a></li>
        <li><a href="#">login</a></li>
        <li><a href="#">register</a></li>
      </ul>
    </nav>
    <main>
      <div class="section-1">
        <img
          src="/images/section1_1582448589.png"
          alt="logo"
          class="logo-img"
        />
        <div class="text">
          <h3>Largest Bitcoin mining company<span>.</span></h3>
          <h2>Start bitcoin mining today</h2>
          <br /><br />
          <a href="#">Get started</a>
        </div>
      </div>
      <div class="section-2">
        <h2>The most trusted cryptocurrency platform<span>.</span></h2>
        <p>Here are a few reasons why you should choose us</p>
        <div class="box">
          <ul>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="200"
                height="200"
                fill="gold"
                class="bi bi-brightness-high-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
                />
              </svg>
              <h4>Industry best practices</h4>
            </li>
            <p>
              Bitvest supports a variety of the most popular digital currencies.
            </p>
          </ul>
          <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="gold" class="bi bi-lock-fill" viewBox="0 0 16 16">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                  </svg>
              <h4>Secure storage</h4>
            </li>
            <p>
              We store the vast majority of the digital assets in secure offline
              storage.
            </p>
          </ul>
          <ul>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="gold" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                  </svg>
              <h4>Account privacy</h4>
            </li>
            <p>
              We will never share your private data without your permission.
            </p>
          </ul>
        </div>
      </div>
      <div class="section-3">
        <div class="text-section">
          <span>Letsmine</span>
          <h2>Focused, Active Management of High-Growth Digital Assets.</h2>
          <p>
            Bitclub Global Ltd is a registered investment platform providing
            digital asset investment management services to individuals. We
            provide a dynamic investment solution to clients in need of a
            self-operating portfolio, as well as a smart fund with flexible time
            and investment amount. Investigationes demonstraverunt lectores
            legere me lius quod ii legunt saepius. Claritas est etiam processus
            dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est
            notare quam littera gothica, quam nunc putamus parum claram,
            anteposuerit litterarum formas humanitatis per laoreet sit amet
            cursus seacula qui mutationem consuetudium claritas est etiam
            processus dynamicus.
          </p>
        </div>
        <img src="/images/section4_1582451115.png" alt="section-image" />
      </div>
      <div class="section-4">
        <div class="box">
            <img src="/images/plan_1588144283.png" alt="plan-1" />
            <h5>starter pack</h5>
                <div class="pack">
                    <span>price: </span><br />
                <h2>0.0005btc</h2>
                </div>
                <span>duration:</span>
                <h6>for 1 Month</h6>
                <hr />
                <span>referral:</span>
                <h6>2%</h6>
                <hr />
                <span>hashrate:</span>
                <h6>5Ph/s</h6>
        </div>
        <div class="box">
            <img src="/images/plan_1588144283.png" alt="plan-1" />
            <h5>premium pack</h5>
                <div class="pack">
                    <span>price: </span><br />
                <h2>0.005btc</h2>
                </div>
                <span>duration:</span>
                <h6>for 2 Month(s)</h6>
                <hr />
                <span>referral:</span>
                <h6>2%</h6>
                <hr />
                <span>hashrate:</span>
                <h6>10Ph/s</h6>
        </div>
        <div class="box">
            <img src="/images/plan_1588144283.png" alt="plan-1" />
            <h5>gold pack</h5>
                <div class="pack">
                    <span>price: </span><br />
                <h2>0.5btc</h2>
                </div>
                <span>duration:</span>
                <h6>for 2 Month(s)</h6>
                <hr />
                <span>referral:</span>
                <h6>10%</h6>
                <hr />
                <span>hashrate:</span>
                <h6>15Ph/s</h6>
        </div>
      </div>
      <div class="section-5">
        <div class="text-section">
            <span>Frequent questions</span>
            <h2>Build your savings without even trying.</h2>
            <p>Turn on Round-up Rules and start saving up effortlessly. Whenever you make a purchase, Goals make it easy to save for the things you want or want to do. There’s no need for spreadsheets or extra apps to budget and track your money.</p>
        </div>
        <div class="faq">
            <div class="question">
                <a href="#" onclick="closeData()" id="open"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg></span><span>What is Bitclub?</span></a>
                <p id="open">Bitclub is a registered digital asset investment firm based in the UK. The platform, which includes advanced basic and technical analysis at the source of high return performance, offers high & fixed interest return. Aiming for success with its international investor network, experienced team, privileged information from business and technology world; Bynamic stands out from its competitors with its proven quality and ease of use. The company, which is managed under the leadership of people who think and foresee the future, is committed to achieving high returns from well-diversified portfolios and prioritizing clients.</p>
            </div>
            <div class="question">
                <a href="#"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg></span><span>Guaranteed interest returns, but how?</span></a>
                <p>Digital assets are a class of assets considered dangerous and inconvenient. Many reasons such as liquidity, money laundering accusation, uncertainty of regulation, access restriction, volatile markets, functionality inquiries reduce trust in these assets. We believe that the risk factor should be eliminated for all people who believe that finance will rise on distributed systems. That's why we offer high interest returns to platform investors. With careful and detailed examination of market conditions, daily trading volume, expectations; we change our portfolio distribution and adjust our investment strategy. With this active fund management, you enjoy the fixed interest rate return on the user side.</p>
            </div>
            <div class="question">
                <a href="#"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg></span><span>What are company principles?</span></a>
                <p>Successful investment management companies base their business on a core investment philosophy, and Bynamic is no different. Although we offer innovative and specific strategies through digital asset funds, an overarching theme runs through the investment guidance we provide to clients— focus on those things within your control. There are basically four principles that we attach great importance to:</p>
                <p>1) Create clear, appropriate investment goals: An appropriate investment goal should be measureable and attainable. Success should not depend on outsize investment returns or impractical saving or spending requirements.</p>
                <p>2) Develop a suitable asset allocation using broadly diversified funds: A sound investment strategy starts with an asset allocation befitting the portfolio's objective. The allocation should be built upon reasonable expectations for risk and returns and use diversified investments to avoid exposure to unnecessary risks.</p>
                <p>3) Minimize cost: Markets are unpredictable. Costs are forever. The lower your costs, the greater your share of an investment's return. And research suggests that lower-cost investments have tended to outperform higher-cost alternatives. To hold onto even more of your return, manage for efficiency. You can't control the markets, but you can control the bite of costs and efficiency.</p>
                <p>4) Maintain perspective and long-term discipline: Investing can provoke strong emotions. In the face of market turmoil, some investors may find themselves making impulsive decisions or, conversely, becoming paralyzed, unable to implement an investment strategy or rebalance a portfolio as needed. Discipline and perspective can help them remain committed to a long-term investment program through periods of market uncertainty.</p>
            </div>
            <div class="question">
                <a href="#"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg></span><span>What are digital assets and how are they valued?</span></a>
                <p>Digital assets distributed ledger based electronic means of exchanges. Transactions involving them are secured by cryptography, and they have dedicated servers for verification of transactions and the creation of extra units. The most popular of them are Bitcoin, Ethereum, Litecoin, etc. All digital assets are valued by price action, and as a result, almost total control is in the hand of the investing public.</p>
            </div>
            <div class="question">
                <a href="#"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg></span><span>How can I ask for support?</span></a>
                <p>We are here to help you with any problems and questions you may encounter while using the platform and during your investment experience. You can always contact or turn the situation into an opportunity.</p>
            </div>
        </div>
      </div>
      <div class="section-6">
        <h2>Diversify your investment porfolio</h2>
        <p>Bitclub is fully legit and officially registered company whose activities are regulated by the financial control authorities under the jurisdiction of the United Kingdom. Accepting our terms of coorperation, you can be absolutely sure of getting a guaranteed profit and full return on your investment.</p>
        <div class="pack">
        <div>14m+<h4>Total asset</h4></div>
        <div>13+<h4>Years of experience</h4></div>
        <div>244+ <h4>Qualified traders</h4></div>
        <div>53 <h4>Countries supported</h4></div>
        </div>
    </div>
    <div class="section-7">
        <div class="testimonial-card">
            <h6>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h6>
            <div class="profile">
                <img src="/images/update_1581806792.jpg" alt="helen bartos" />
                <div class="text">
                    <a href="#">Helen Bartos</a>
                    <span>Digital Marketer</span>
                    <span class="icons-stars"><i class="fa fa-star"></i></span>    
                </div>
            </div>
        </div>
        <div class="testimonial-card">
            <h6>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h6>
            <div class="profile">
                <img src="/images/update_1581806792.jpg" alt="helen bartos" />
             <div class="text">
                <a href="#">Helen Bartos</a>
                <span>Digital Marketer</span>
                <span class="icons-stars"><i class="fa fa-star"></i></span>
             </div> </div>
        </div>
        <div class="testimonial-card">
            <h6>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h6>
            <div class="profile">
                <img src="/images/update_1581806792.jpg" alt="helen bartos" />
            <div class="text">
                <a href="#">Helen Bartos</a>
                <span>Digital Marketer</span>
                <span class="icons-stars"><i class="fa fa-star"></i></span>
            </div></div>
        </div>
    </div>
    </main>
    <footer>
    <img class="footer-img" src="/images/section1_1582448589.png" alt="footer-img" />
        <p>Bitmine platform is at your service with its user-friendly features, secure infrastructure and applications that make a difference.</p>
        <span>&copy; All right reserved 2022.</span>
        <span>Bitmine - The easiest place to invest bitcoin..</span>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <script src="/jscript/index.js"></script>
  </body>
</html>
